<!DOCTYPE html>
<html ng-app="elite">
<head>
    <meta charset="UTF-8">
    <title>Элита</title>

    <link href="./public/css/bootstrap.min.css" rel="stylesheet">
    <link href="./public/css/style.css" rel="stylesheet">

    <script src="./public/js/angular.min.js"></script>
    <script src="./public/js/angular-locale.js"></script>
    <script src="./public/js/angular-animate.js"></script>
    <script src="./public/js/angular-sanitize.js"></script>
    <script src="./public/js/ui-bootstrap.js"></script>
    <script src="./public/js/app.js"></script>
</head>
<body>
    <style>
        .full button span {
            background-color: limegreen;
            border-radius: 32px;
            color: black;
        }
        .partially button span {
            background-color: orange;
            border-radius: 32px;
            color: black;
        }
    </style>

    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3>I'm a modal!</h3>
        </div>
        <form ng-submit="submit()">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <p class="input-group">
                            <label>Дата : </label>

                            <input type="text" class="form-control " uib-datepicker-popup ng-model="newCp.date"
                                   is-open="popup.opened" datepicker-options="dateOptions"
                                   ng-required="true" close-text="Закрыть" current-text="Сегодня"
                                   clear-text = "Очистить"/>
                            <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                        </p>
                    </div>
                </div>
                <label>Вес : </label>
                <input type="text" ng-model="newCp.weight" />
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn primary-btn" value="Добавить" />
                <button class="btn btn-warning" ng-click="cancel()">Отмена</button>
            </div>
        </form>
    </script>

    <div ng-controller="EliteCtrl" >
        <div ng-repeat="d in discipList">
            <div class="btn-group" uib-dropdown>
                <button id="split-button" type="button" class="btn btn-primary" ng-click="openDiscip(d.discip_id)">{{d.discip_name}}</button>
                <button type="button" class="btn btn-danger" uib-dropdown-toggle>
                    <span class="caret"></span>
                    <span class="sr-only">Split button!</span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                    <li role="menuitem"><a href="#" ng-click="openDiscip(d.discip_id)">Открыть</a></li>
                    <li class="divider"></li>
                    <li role="menuitem"><a href="#" ng-click="openModalAdd()">Добавить контрольную точку</a></li>
                    <li class="divider"></li>
                    <li role="menuitem"><a href="#">Рейтинг по дисциплине</a></li>
                </ul>
            </div>
            <div uib-collapse="!isCollapsed[d.discip_id]">
                <div class="well well-lg">

                    <uib-accordion close-others="oneAtATime" ng-repeat="cp in checkPoint[d.discip_id]">
                        <div uib-accordion-group class="panel-default" is-open="status.open">
                            <uib-accordion-heading>
                                <div class="btn-group" uib-dropdown>
                                    <button id="split-button" type="button" class="btn btn-primary"
                                            ng-click="openCP(cp.cp_id)"
                                            ng-click="isCollapsed = !isCollapsed">{{cp.date_norm}}</button>
                                    <button type="button" class="btn btn-danger" uib-dropdown-toggle>
                                        <span class="caret"></span>
                                        <span class="sr-only">Split button!</span>
                                    </button>
                                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                                        <li role="menuitem"><a href="#" >Редактировать</a></li>
                                        <li class="divider"></li>
                                        <li role="menuitem"><a href="#">Статисика по контрольной точке</a></li>
                                    </ul>
                                </div>
                                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                            </uib-accordion-heading>
                            <uib-accordion close-others="group" ng-repeat="g in groups[cp.cp_id]">
                                <div uib-accordion-group class="panel-default" is-open="status3.open">
                                    <uib-accordion-heading>
                                        <div class="btn-group" uib-dropdown>
                                            <button id="split-button" type="button" class="btn btn-primary"
                                                    ng-click="openGroup(g.group_id, cp.cp_id)"
                                                    ng-click="isCollapsed = !isCollapsed">{{g.name}}</button>
                                            <button type="button" class="btn btn-danger" uib-dropdown-toggle>
                                                <span class="caret"></span>
                                                <span class="sr-only">Split button!</span>
                                            </button>
                                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                                                <li role="menuitem"><a href="#" >Рейтинг по группе</a></li>
                                                <li class="divider"></li>
                                                <li role="menuitem"><a href="#" >Рейтинг по курсу</a></li>
                                            </ul>
                                        </div>
                                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status3.open}"></i>
                                    </uib-accordion-heading>
                                        <div ng-repeat="s in students[g.group_id]">
                                            <span> {{s.name}} </span>
                                            <input type="text" class="form-control weight-input" value="{{s.result}}"/>
                                        </div>
                                </div>
                            </uib-accordion>
                        </div>
                    </uib-accordion>

                </div>
            </div>
            <p/>
        </div>
    </div>
</body>
</html>