.btn {
    font-size: 18px;
}
.weight-input {
    width: 40px;
    display: inline;
}
/* mobile*/
@media only screen and ( max-width: 640px) {
    .btn-group, .btn-group-vertical {
        width: 100%;
    }

    .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
        width: 85%;
    }

    .btn-group > .btn + .dropdown-toggle {
        width: 10%;
    }

    .btn {
        font-size: 24px;
    }
    .row{
        width: 250px;
    }
    .pull-right{
        top: -30px;
    }

}